.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: orangered;
 
}

#root {
  height: 100%;
  width: 100vh;
  display: flex;
  justify-content: center;
  background-color: orangered;
}

.searchBar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.statusBar {
  margin-top: 70px;
  display: flex;
}

th {
  width: 200px;
  border-radius: 5px;
}

tr {
  width: 600px;
  text-decoration: none;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

#all, #active, #deleted {
  display: flex;
  justify-content: center;
  background: buttonface;
}


.inputBar {
  outline: none;
}

.tdButton, .tdTemp {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tdNumber {
  width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.tdName {
  width: 197px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}


a {
  text-decoration: none;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  background: buttonface;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

.Btn {
  display: flex;
  justify-content: center;
}

p {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* #name {
  padding: 10px;
} */
